apiVersion: apps/v1
kind: Deployment
metadata:
  name: vue-frontend
  namespace: demo-app
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: vue-frontend
          image: rumsauce/test:client-vue-dev
          resources:
            requests:
              memory: 512Mi
              cpu: 250m
            limits:
              memory: 2Gi
              cpu: 1
          env:
            - name: NODE_ENV
              value: "development"